<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"> -->
        <ng-container *ngIf="pictureUlr$ | async; else logo">
          <img [src]="(pictureUlr$ | async)" alt="logo">
        </ng-container>
        <ng-template #logo>
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        </ng-template>
        
        <h1>Retina Latina</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="vertical" *ngIf="isLoggedOut$ | async">
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/ingreso">Ingresar</a>
      </li>
    </ul>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngIf="isLoggedIn$ | async">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/estadisticas">Estadisticas</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/cal">Ver fechas</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/mapa">Mapa 01</a>
          </li>
          
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/peliculas">Todas las películas</a>
          </li>
          <li nz-submenu nzOpen nzTitle="Países" nzIcon="dashboard">
            <ul>
              <li nz-menu-item nzMatchRouter><a routerLink="/pais/bo">Bolivia</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/pais/co">Colombia</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/pais/ec">Ecuador</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/pais/mx">México</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/pais/pe">Perú</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/pais/uy">Uruguay</a></li>
          <li nz-menu-item nzMatchRouter><a routerLink="/pais/cu">Cuba</a></li>
            </ul>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        
        
        
        <ng-container *ngIf="isLoggedIn$ | async">
          <nz-avatar nzIcon="user" [nzSrc]="(pictureUlr$ | async)" *ngIf="pictureUlr$"></nz-avatar>
          {{ nombre$ | async }} -- {{ email$ | async }}  <button nz-button nzType="primary" nzDanger  (click)="logout()">Salir</button>
        </ng-container>
        
        <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
          <p>Content one</p>
          <p>Content two</p>
          <p>Content three</p>
          <p>Content three</p>
        </nz-modal>
        

      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <loading></loading>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
